.portlet {
  min-height: 30px;
}

.max-w-800 {
  max-width: 800px;
}

.m-c {
  margin-left: auto;
  margin-right: auto;
}

.nav-pills > li > a {
  margin: 0 3px;
}

.table-responsive {
  overflow: auto !important;
  height: 100%;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  padding: 25px;
}

.upload-img-box {
  padding: 0;
  margin: 0;
  .clearfix {
    clear: both;
  }
  li {
    position: relative;
    list-style: none;
    outline: none;
    float: left;
    padding: 2px;
    margin: 0 10px 10px 0;
    img {
      display: block;
      border: none;
      border-radius: 5px;
    }
    i {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      line-height: 18px;
      text-align: center;
      border: 1px solid #fff;
      background: #f7554a;
      font-size: 18px;
      color: #fff;
      font-style: normal;
      border-radius: 50%;
      transform:rotate(45deg);
      -ms-transform:rotate(45deg);
      -moz-transform:rotate(45deg);
      -webkit-transform:rotate(45deg);
      -o-transform:rotate(45deg); 
      cursor: pointer;
      &:hover {
        background: #ed4d42
      }
    }
    span {
      position: absolute;
      bottom: 2px;
      right: 5px;
      color: #ffffff;
      &.fsrc {
        display: none;
      }
    }
    .progress {
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
    }
  }
  li.uploadimg-btn {
    a {
      display: block;
      border: 1px dashed #dddddd;
      border-radius: 5px;
      background: transparent url("../images/up.png") no-repeat 50% 50%;
      &:hover {
        background-color: #f1f1f1;
      }
    }
    &:after {
      clear: right;
    }
  }
}

.skin1 {
  .upload-img-box {
    overflow: hidden;
    .clearfix{
      display: none;
    }
    li {
      position: relative;
      list-style: none;
      float: left;
      outline: none;
      padding: 2px;
      margin: 0 0 10px 0;
      width: 80%;
      img {
        display: none;
      }
      i {
        transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        width: inherit;
        width: inherit;
        border-radius: 0;
        color: #fff;
        background: transparent;
        position: relative;
        float: right;
        width: 30px;
        text-align: right;
        &::before{
          content: '删除';
          color: #5b6e98;
          font-size: 13px;
          line-height: 30px;
        }
        &:hover{
          font-weight: 600;
        }
        &::after{
          content: "";
          display: block;
          position: absolute;
          height: 10px;
        }
       
      }
      span {
        &.fsrc {
          display: inline-block;
          position: static;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;  
          width:  63%;
        }
        color: #333;
        &.fsize {
          position: static;
          vertical-align: super;
          color: #8d8d8d;
          &::before{
            content: '('
          }
          &::after{
            content: ')'
          }
        }
      }
      .progress {
        display: block!important;
        background: #5aa1dd;
        width: 80%!important;
        height: 3px;
        border-radius: 1.5px;
      }
    }
    li.uploadimg-btn {
      float: right;
      width: 15%;
      a {
        display: inline;
        border: none;
        background-image: none;
        line-height: 22px;
        &::before{
          content: "选择";
          color: #5b6e98;
          font-size: 13px;
          
        }
        &:hover {
          font-weight: 600;
          background: transparent;
        }
      }
      &:after {
        clear: right;
      }
    }
  }
}

form.form-horizontal {
  p.m-t-n-md {
    margin-top: -26px !important;
    background: #fff;
  }
}

button:focus {
  outline: none 0 !important;
}

.vbox {
  .layui-table-view, .layui-table {
    margin: 0;
  }
  .layui-table-fixed-r table {
    width: 100% !important;
  }
}

.wulaui {
  select.plimit {
    border-radius: 0;
    margin-left: 5px;
  }
}

.app-menu {
  background-color: #eaedf1;
  .layui-nav-tree {
    .layui-this a {
      background-color: #fff !important;
      &:after {
        height: 0;
        width: 0;
      }
    }
    li {
      a:hover {
        background-color: #f7f7f7;
        color: #333 !important;
      }
    }
    .layui-nav-more {
      border-color: #333 transparent transparent;
    }
    .layui-nav-item {
      line-height: 40px;
    }
    .layui-nav-itemed {
      a {
        color: #333 !important;
      }
      .layui-nav-more {
        border-color: transparent transparent #333;
      }
      .layui-nav-child {
        line-height: 40px;
        border-radius: 0;
        background-color: transparent !important;
        margin-bottom: 0;
        a {
          padding: 0 0 0 40px;
        }
      }
    }
  }

  .layui-nav {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    width: 100%;
    .layui-this {
      background-color: #fff !important;
      &:after {
        height: 0;
      }
    }
    .layui-nav-item {
      width: 100%;
    }
    a {
      .layui-icon {
        width: 18px;
        display: inline-block;
      }
      width: 100%;
      height: 40px;
      line-height: 40px;
      display: block;
      color: #333;
      &:hover {
        background-color: #f7f7f7;
        color: #333;
      }
    }
  }

  .layui-nav-bar {
    display: none;
  }
}

div.wysiwyg {
  .btn-toolbar {
    margin-bottom: 2px;
    li a {
      cursor: default;
    }
  }
  [data-wysiwyg], textarea {
    font-size: 14px;
    height: 100px;
    width: 100%;
    background-color: white;
    border-collapse: separate;
    border: 1px solid #d9d9d9;
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
  }
  [data-wysiwyg] {
    a {
      color: blue;
      text-decoration: underline;
    }
  }
}

div.max1000 {
  max-width: 1000px;
  margin: 0 auto;
}

.combodate select {
  display: inline-block;
}

.layui-card {
  .with-table {
    padding: 0;
  }
  .table {
    margin-bottom: 0;
  }
}

.layui-card-footer {
  border-top: 1px solid #ddd;
  padding-bottom: 10px;
  select {
    height: 26px;
    line-height: 26px;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    display: inline-block;
  }
}

.layui-form-label {
  width: 110px;
  margin-bottom: 0;
}

.has-form {
  position: relative;
  .layui-form-item {
    margin-bottom: 5px
  }
  .more {
    display: none;
  }
  .search-btns {
    display: none;
    border-radius: 5px;
    width: 56px;
    height: 28px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -28px;
  }
  &:hover {
    .search-btns {
      display: inline-block;
    }
  }
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}